aiohttp==3.8.1
aiosignal==1.2.0
astroid==2.3.3
async-timeout==4.0.2
attrs==22.1.0
base58==2.1.1
beautifulsoup4==4.9.1
bitarray==2.6.0
Brotli==1.0.7
bs4==0.0.1
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
charset-normalizer==2.1.1
click==7.1.2
cycler==0.11.0
cytoolz==0.12.0
dataclasses-json==0.5.7
decorator==4.4.2
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
filelock==3.12.2
Flask==1.1.2
Flask-Caching==1.9.0
Flask-Compress==1.5.0
Flask-Cors==3.0.10
Flask-WTF==0.14.3
fonttools==4.37.1
frozenlist==1.3.1
fst-pso==1.8.1
FuzzyTM==2.0.5
gensim==4.3.0
google-auth==1.19.2
google-auth-oauthlib==0.4.1
gspread==3.6.0
gunicorn==20.1.0
hexbytes==0.3.0
httplib2==0.18.1
idna==2.10
ipfshttpclient==0.8.0a2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.2.0
jsonschema==4.14.0
kiwisolver==1.4.4
lazy-object-proxy==1.4.3
lru-dict==1.1.8
MarkupSafe==1.1.1
marshmallow==3.17.1
marshmallow-enum==1.5.1
matplotlib==3.5.3
mccabe==0.6.1
miniful==0.0.6
mpmath==1.3.0
multiaddr==0.0.9
multidict==6.0.2
mypy-extensions==0.4.3
netaddr==0.8.0
networkx==3.1
nltk==3.8.1
numpy==1.24.2
oauth2client==4.1.3
oauthlib==3.1.0
packaging==21.3
pandas==1.4.3
parsimonious==0.8.1
Pillow==9.2.0
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.15.0
pyFUME==0.2.25
pylint==2.4.4
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.2.1
regex==2022.10.31
requests==2.24.0
requests-oauthlib==1.3.0
rlp==2.0.1
rsa==4.6
scipy==1.9.1
simpful==2.10.0
six==1.14.0
smart-open==6.3.0
soupsieve==2.0.1
sympy==1.12
toolz==0.12.0
torch==2.0.1
tqdm==4.65.0
typing-inspect==0.8.0
typing_extensions==4.3.0
urllib3==1.25.9
varint==1.0.2
web3==5.30.0
websockets==9.1
Werkzeug==1.0.1
wrapt==1.11.2
WTForms==2.3.1
yarl==1.8.1
